<!--<div class="jumbotron jumbotron-fluid main-title">-->
<!--    <h2 class="component-holder text-left" xattr-position="text-left" data-component="crn-subtitle" id="crn-subtitle-814474">rede-ligue-dois</h2>-->
<!--</div>-->
<!--Menu Inicio-->
<nav class="navbar nav-topo fixed-top flex-md-nowrap p-0 shadow">
    <div class="col-4 col-sm-2">
        <a class="navbar-brand col-sm-2 col-md-2 mr-0" href="#">
            <div class="logo-redeligue2">
                <img src="css/image/logo-redeligue.png" alt="Rede Ligue" style="width:150px; height: 45px;">
            </div></a>
     </div>
  
  <div class="col-4 col-sm-8">
    <nav class="navbar navbar-expand-lg navbar-light">
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav w-100 nav-menu-topo">
          <div class="col-sm-4">
            <li class="nav-item ">
              <a class="nav-link" href="#">Home</a>
            </li>
          </div>
          <div class="col-sm-4">
            <li class="nav-item ">
              <a class="nav-link" href="#">Minha Conta</a>
            </li>
          </div>
          <div class="col-sm-4 usuario-nav">
            <li class="nav-item">
              <a class="nav-link" href="#">Olá! Andréia Santana</a>
            </li>
          </div>
        </ul>
      </div>
    </nav>
  </div>
  
  <div class="col-4 col-sm-2">
    <div class="foto-usuario">
      <span class="icon-rl-usuario2 rl-2x"></span>
    </div>
  </div>
</nav>
<!--Menu fim-->
<!--Menu Lateral-->
<nav class="col-4 col-md-2 d-none d-md-block bg-light sidebar menu-lateral">
      <div class="sidebar-sticky">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link " href="">
              <span class="icon-rl-resumo" style="font-size:20px;"></span>
              <span class="menu-lateral-link" style="padding-left:15px;">
                  Resumo <span class="sr-only">(current)</span>
                </span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="#">
              <span class="icon-rl-usuario" style="font-size:18px;"></span>
              <span class="menu-lateral-link" style="padding-left:15px;">
                Meus Dados
              </span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="#">
              <span class="icon-rl-interfone" style="font-size:20px;"></span>
              <span class="menu-lateral-link" style="padding-left:15px;">
                Dispositivos
              </span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="#">
              <span class="icon-rl-caixa" style="font-size:18px;"></span>
              <span class="menu-lateral-link" style="padding-left:15px;">
                Histórico
              </span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="#">
              <span class="icon-rl-publicacoes" style="font-size:17px;"></span>
              <span class="menu-lateral-link" style="padding-left:15px;">
                Publicações
              </span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="#">
              <span class="icon-rl-cartao" style="font-size:20px;"></span>
              <span class="menu-lateral-link" style="padding-left:15px;">
                Faturamento
              </span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="3">
              <span class="icon-rl-bandeira" style="font-size:20px;"></span>
              <span class="menu-lateral-link" style="padding-left:15px;">
                Políticas
              </span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="3">
              <span class="icon-rl-taca" style="font-size:20px;"></span>
              <span class="menu-lateral-link" style="padding-left:15px;">
                Pontuação
              </span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="3">
              <span class="icon-rl-comemoracao" style="font-size:25px;"></span>
              <span class="menu-lateral-link" style="padding-left:15px;">
                Reputação
              </span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="#">
              <span class="icon-rl-suporte" style="font-size:18px;"></span>
              <span class="menu-lateral-link" style="padding-left:15px;">
                Ouvidoria
              </span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="#">
              <span class="icon-rl-sair" style="font-size:18px; padding-left:25px; padding-top:5px;"></span>
              <span class="menu-lateral-link" style="padding-left:5px;">
                Sair
              </span>
            </a>
          </li>
        </ul>
      </div>
    </nav>
<!--Menu Lateral-->

<div class="">
        <h1 class="h2">Histórico<a href="" class="cron-link component-holder" target="_self" data-replace="true" data-component="crn-anchor" id="crn-anchor-205131">Link</a></h1>
        <p class="subtitulo-paginas">Miha Conta / Histórico</p>
      </div>
      <!--<div class="modal-footer">-->
      <!--  <button class="btn btn-primary btn-fab k-button" type="submit" ng-click="changePassword()" ng-disabled="form.$invalid || vm.dataLoading"><span class="k-icon k-i-check"></span></button>-->
      <!--  <button class="btn btn-default btn-fab k-button" type="button" data-dismiss="modal"><span class="k-icon k-i-close"></span></button>-->
      <!--</div>-->
  