<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    
<head>
	<title>Login - Rede Ligue</title>
	<link href="../../css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link href="../../css/style.css" rel="stylesheet">
<link href="../../css/fontawesome.min.css" rel="stylesheet">
<link href="../../css/redeligue-font/redeligue-font.css" rel="stylesheet">
<link href="../../css/signin.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
<script src="../../js/bootstrap.min.js"></script>
<script src="../../js/jquery.min.js"></script>


    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
  </head>
  <body class="text-center">
		<div id="bg">
			<img src="css/imagens/bg.jpg" alt="">
		</div>
		<div class="container form-login">

    <form class="form-signin" style="z-index:2">
      
      <div class="logo-redeligue-topo"><img src="../../css/image/logo-redeligue.png" alt="Rede Ligue" height="60" width="180"></div>
      
      <div class="instrucao-form mb-3">
        Preencha o formulário abaixo e siga as instruções. Sua nova senha será enviada para seu e-mail.
      </div>
          
			<div class="input-group mb-2">
				<div class="input-group-append">
					<span class="input-group-text2"><span class="icon-rl-arroba"></span></span>
				</div>
				<input type="text" name="email" class="form-control input_user" value="" placeholder="EMAIL">
			</div>
			<div class="input-group mb-1">
				<div class="input-group-append">
					<span class="input-group-text2"><span class="icon-rl-telefone"></span></span>
				</div>
				<input type="password" name="senha" class="form-control input_pass" value="" placeholder="SENHA">
			</div>
  <button class="btn btn-lg btn-primary btn-block login_btn" type="submit">Solicitar nova senha</button>
	<div class="links-cadastro mt-1">
		<div class="col-md-12 voltar-login mt-3 mb-4">
			<a href="#"><span class="icon-rl-seta-esquerda"></span> Voltar ao login</a>
		</div>
	</div>
</form>
		
</div>
</body>
</html>
